<div class="card">
  <div class="card-header bg-warning">Personal Details</div>
  <div class="card-body bg-danger text-white">
    <div class="row">
      <div class="col">First Name: {{firstName}}</div>      
    </div>
    <div class="row">
        <div class="col">Last Name: {{lastName}}</div>      
    </div>
    <div class="row">
        <div class="col">City: {{city}}</div>      
    </div>
    <div class="row">
        <div class="col">Age: {{age}}</div>      
    </div>
    <div class="row">
        <div class="col">Gender: {{gender}}</div>      
    </div>
    <div class="row">
        <div class="col">BirthDate: {{dob}}</div>      
    </div>
  </div>
</div>
