<form #f=ngForm (ngSubmit)="save(f)">
  <div class="row form-group">
    <div class="col-sm-2">Name:</div>
    <div class="col-sm-4">
      <input type=text name="name" [(ngModel)]="student.name" required class="form-control" #name=ngModel/>
    </div>
    <div class="col-sm-6" *ngIf="name.touched && name.invalid">
      Name is Required Field.
    </div>
  </div>
  <div class="row form-group">
      <div class="col-sm-2">Mobile No:</div>
      <div class="col-sm-4">
        <input type=text name="mobileNo" [(ngModel)]="student.mobileNo" required class="form-control" #mobileNo=ngModel/>
      </div>
      <div class="col-sm-6" *ngIf="mobileNo.touched && mobileNo.invalid">
          Mobile No is Required Field.
      </div>
  </div>
  <div class="row form-group">
      <div class="col-sm-2">Email:</div>
      <div class="col-sm-4">
        <input type=text name="email" [(ngModel)]="student.email" required email class="form-control" #email=ngModel/>
      </div>
      <div class="col-sm-6" *ngIf="email.touched && email.invalid">
        <span *ngIf="email.errors['required']">
          Email is Required Field.
        </span>
        <span *ngIf="email.errors['email']">
            Email is Not Valid
        </span>          
      </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-2">Course:</div>
    <div class="col-sm-4">
      <select name="course" [(ngModel)]="student.course" class="form-control">
        <option value="-1">-:Select Course:-</option>
        <option *ngFor="let course of courseList" [ngValue]="course">
          {{course.courseName}}
        </option>
      </select>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-2">Reg Status:</div>
    <div class="col-sm-4">
      <input type=radio name=regStatus value="Enquiry" [(ngModel)]="student.regStatus" />Enquiry
      <input type=radio name=regStatus value="Enrolled" [(ngModel)]="student.regStatus" />Enrolled
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <!-- <button class="btn btn-info" [disabled]="f.invalid">Submit</button> -->
      <button class="btn btn-info">Submit</button>
    </div>    
  </div>
</form>
<div class="row" *ngIf="isSubmittedAndValid">
  <div class="col-sm-6">
      <table>
        <tr>
            <td>Name: </td>
            <td>{{student.name}}</td>
        </tr>
        <tr>
            <td>Mobile No:</td>
            <td>{{student.mobileNo}}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{student.email}}</td>
        </tr>
        <tr>
            <td>Course:</td>
            <td>{{student.course.courseName}}</td>
        </tr>
        <tr>
            <td>Course Fees:</td>
            <td>{{student.course.fees}}</td>
        </tr>
        <tr>
            <td>Registration Status:</td>
            <td>{{student.regStatus}}</td>
        </tr>
      </table>
  </div>
</div>