<div class="container">
  <div class="row">
    <div class="col">
        <h1>{{title}}</h1>
    </div>
  </div>
  <div>
    <div class="col">
        Name is : {{name}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-message></app-message>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <app-string-oper></app-string-oper>
    </div>    
  </div>
  <div class="row">
    <div class="col">
      <app-number-oper></app-number-oper>
    </div>
  </div>
</div>