<div class="card">
  <div class="card-header bg-secondary text-white">Educational Detail</div>
  <div class="card-body bg-info text-white">
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <tr>
            <th>Std</th>
            <th>Per</th>
            <th>Year</th>
          </tr>
          <tr>
            <td>{{education1.std}}</td>
            <td>{{education1.per}}</td>
            <td>{{education1.year}}</td>
          </tr>
          <tr>
              <td>{{education2.std}}</td>
              <td>{{education2.per}}</td>
              <td>{{education2.year}}</td>
          </tr>
          <tr>
              <td>{{education3.std}}</td>
              <td>{{education3.per}}</td>
              <td>{{education3.year}}</td>
          </tr>
          <tr>
              <td>{{education4.std}}</td>
              <td>{{education4.per}}</td>
              <td>{{education4.year}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>