<h1>{{title}}</h1>

<app-my-dropdown 
[dataList]="countryList" 
(getSelectedValue)="getValue($event)"
>
Selected Country is : {{selectedCountry['desc']}}    
</app-my-dropdown>

<app-my-dropdown 
[dataList]="stateList" 
(getSelectedValue)="getStateValue($event)"
>    
Selected State is : {{selectedState['desc']}}
</app-my-dropdown>


<app-message *ngFor="let msg of mesaages" [message]="msg">
</app-message>

<app-message [message]="'Good Bye...!'" [messageType]="'success'">
</app-message>

<app-message [message]="message" [messageType]="'danger'">
</app-message>

<app-message [messageType]="'dark'">
</app-message>

<app-student-list></app-student-list>

<app-emp-list></app-emp-list>